<header>
    <nav>
        <img class="logo"  src="img/LogoXarxatecactiva.png">
        <ul>
            <li><form action="/find-data-student" method="POST">
        <p>
            <label for="idField">Introduce Id del estudiante: </label>
            <input type="number" id="idField" name="idStudent" value="2">
        </p>
        <p>
            <input type="submit">
        </p>
    </form></li>
            <li><a href="/get-character-sheet">Buscar</a></li>
            <li><a href="/logout">Salir</a></li>
        </ul>
    </nav>
    <script src=""></script>
</header>