<header>
    <nav>
        <img class="logo"  src="img/LogoXarxatecactiva.png">
        <ul>
            <li><form action="/find-data-student" method="POST">
        <p>
            <input type="submit" value="Editar Perfil">
        </p>
    </form></li>
            <li><a href="/get-character-sheet">Buscar</a></li>
            <li><a href="/logout">Salir</a></li>
        </ul>
    </nav>
    <script src=""></script>
</header>