{{#if message}}
    <p class="texto-rojo">{{message.content}}</p>
{{/if}}
<form id="formLogin" action="/login" method="POST">
    <p>
        <label for="user">Usuario: </label>
        <input type="text" id="user" name="iUser">
    </p>
    <p>
        <label for="pwd">Password: </label>
        <input type="password" id="pwd" name="iPwd">
    </p>
    <p>
        <input type="submit">
    </p>
</form>